
<div class="footer bg-white fixed-bottom mt-5 p-1">
<hr>
<div class="container">
<div class="footer-box d-flex justify-content-between">
    <div class="home text-center">
        <a class="text-decoration-none" href="{% url 'home' %}">
        <i class="fas fa-home"></i>
        <p>home</p>
        </a>
    </div>
    <div class="profile text-center">
        <a class="text-decoration-none" href="{% url 'profile' %}">
        <i class="fas fa-user-circle"></i>
        <p>account</p>
        </a>
    </div>
</div>
</div>
</div>

